.btn-social-long-amazon {
  color: #000; /*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 100px;/*高さ*/
  width: 360px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 50px;/*文字のサイズ*/
  line-height: 100px;/*高さと合わせる*/
  background: #CC9966;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-amazon .fa-amazon {
  text-shadow: 2px 2px 2px #FFCC99;
  font-size: 72px;
}

/*

text-shadow: <水平方向の距離> <垂直方向の距離> <影のぼかし半径> <影の色>

*/
