.btn-social-long-dlsiteplay {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 100px;/*高さ*/
  width: 200px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 90px;/*文字のサイズ*/
  line-height: 100px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-dlsiteplay .fa-dlsiteplay {
  text-shadow: 3px 3px 2px #000066;
  font-size: 46px;
}

/*

text-shadow: <水平方向の距離> <垂直方向の距離> <影のぼかし半径> <影の色>

*/
