a {
  color:#2C7CFF;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline #FFFFCC;

/*太文字  
font-weight: 700;
color: red;*/

}

/*文字間隔操作*/
  /*letter-spacing: 0px;*/
