.btn-social-long-youtube {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 100px;/*高さ*/
  width: 400px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 90px;/*文字のサイズ*/
  line-height: 100px;/*高さと合わせる*/
  background: #FF3300;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-youtube .fa-youtube {
  text-shadow: 3px 3px 3px #000066;
  font-size: 60px;
}


/*

text-shadow: <水平方向の距離> <垂直方向の距離> <影のぼかし半径> <影の色>

*/

#cd201f
